<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Dastur</title>
</head>
<body>
    <div class="title">
       <h1 class="h1">Sport - sog'lik garovi</h1>
    </div>

    <div class="lorem">
            <div class="box">
            <img src="{% static 'img/Maxvidal.jpg' %}" alt="">
            <div class="text">
                <a href="https://www.instagram.com/gamebredfighter/"><h3 class="h3">Xorxe Masvidal</h3></a>
                <p>Mashhur amerikalik aralash yakkakurash jangchisi Xorxe Masvidal Neyt Diaz bilan jangidan so‘ng ringni baham ko‘rmoqchi bo‘lgan bokschilarni sanab o‘tdi.
                "Men bitta – internetni portlatib yuboradigan jangni xohlayman. Bu uchun raqib Logan Pol bo‘lgani yaxshi. 
                U Meyvezerga qarshi jangda ajoyib o‘yin ko‘rsatdi, unga bir nechta yaxshi xuk zarbalarini berdi. 
                Logan bilan uchrashganimdan so‘ng, Floyd yoki Pakyao kabi boks afsonalaridan biri bilan jang qilish ham ajoyib bo‘lardi", - deb Masvidaldan iqtibos keltiradi MMA Mania.
                </p>
            </div>
            </div>

            <div class="box1">
            <img src="{% static 'img/Macgregor.jpg' %}" alt="">
            <div class="text">
                <a href="https://www.instagram.com/thenotoriousmma/"><h3 class="h4">Conor Maccgregor</h3></a>
                <p>Conor McGregor (talaffuzi: Konor Makgregor) 1988-yil 14-iyulda tugʻilgan irlandiyalik professional aralash yakkakurash ustasi hisoblanadi.
                U sobiq Ultimate Fighting Championship (UFC) engil vazn toifasida va engil vaznda ikki marta chempion boʻlgan.
                U bir vaqtning oʻzida ikkita vazn toifasida UFC chempionatlarini oʻtkazgan birinchi UFC jangchisi.
                </p>
            </div>
            </div>
    </div>
</body>
</html>

